body {
}

div.column{
    font-family: monospace;
    font-size: 10px;
	position:relative;
	float: left;
    border: 2px solid black;
}

div#title {
	z-index: 3;
	position:absolute;
	left:0px;
	top:0px;
    width: 400px;
	height:20px;
	line-height:20px;
    color: black;
    text-align: center;
}

div#canvases{
	position:relative;
	width:400px;
	height:300px;
}

canvas#2dcanvas {
	z-index: 1;
	position:absolute;
	left:0px;
	top:0px;
}

canvas#glcanvas {
	z-index: 2;
	position:absolute;
	left:0px;
	top:0px;
}

div#command {
	z-index: 3;
	position:absolute;
	left:0px;
	top:280px;
    width: 400px;
	height:20px;
	line-height:20px;
    color: black;
    text-align: center;
}

div#output {
    width: 400px;
    height: 300px;
    color: white;
    background-color: black;
}

ul {
    margin: 0px;
    padding: 0px;
}

li {
    list-style-type: none;
}

a:link{
    color: black;
    text-decoration: none;
}

a:visited{
    color: black;
    text-decoration: none;
}

a:hover{
    color: red;
    text-decoration: underline;
}

a:active{
    color: red;
    text-decoration: underline;
}
